{% extends 'layout.html' %} {% block body %}
<div class="about text-dark text-center jumbotron">
	<h1><u>About</u></h1>
	
	<h5>
		This app helps you track your daily expenses.You can feed in your expenses in this app and refer to the expenses you
		made throughout the day,month and even year.
	</h5>
	<h5>It gives you a month-wise total of your expenses and helps you compare your monthly expenses.</h5>
	<h6>App Version: v0.1.0</h6>
</div>
<div class="team text-light text-center">
	
</div>
{% endblock %}
